.wrapper {
    flex: 1;
}

.wrapper p {
    font-size: 1.5rem;
    font-weight: 700;
}

.wrapper span {
    font-size: 1rem;
}

.card {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.3333rem;
}

.pagination {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
