.wrapper {
    padding: 1rem 2rem;
    height: 70%;
    overflow: auto;

    .table {
        margin-bottom: 1rem;
    }

    .btn--cart {
        display: flex;
        justify-content: space-around;
    }

    .icon {
        width: 1.1rem;
        height: 1.1rem;
    }
}
